body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex; /* Add this line */
	justify-content: center; /* Add this line */
	align-items: center; /* Add this line */
	height: calc(100vh - 60px); /* Adjust this value to accommodate the footer */
	overflow-y: scroll;
}
 
#canvas{
	width: 1200px;
	 height: calc(100% - 60px); /* Adjust this value to accommodate the footer */
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.Advansia-Docs{
	margin-top:20px;
	width:1182px;
	height:750px;
}

.Advansia-Docs .page{
	width:591px;
	height:750px;
	background:white;

	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.Advansia-Docs .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../pics/right-border.png);
	background-position:right top;
	background-repeat: repeat-y;
}

.Advansia-Docs .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../pics/left-border.png);
	background-position:left top;
	background-repeat: repeat-y;
}

.Advansia-Docs .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}


.Advansia-Docs .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.Advansia-Docs .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.Advansia-Docs .tabs{
	width:942px;
	height:22px;
	top:-22px;
	position:relative;
	z-index:1;
}

.Advansia-Docs .tabs > div{
	width:461px;
	height:22px;
	float:left;
}

.Advansia-Docs .tabs .left{
	text-align:left;
	margin-left:10px;
}


.Advansia-Docs .tabs .right{
	text-align:right;
	margin-right:10px;
}

.Advansia-Docs .tabs a{
	color:black;
	-webkit-border-image: url(pics/tab-off.png) 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

.Advansia-Docs .tabs .on,
.Advansia-Docs .tabs .on:hover{
	-webkit-border-image: url(pics/tab-on.png) 5 20 5 20 repeat stretch;
	cursor:default;
}

.Advansia-Docs .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url(pics/tab-hover.png) 5 20 5 20 repeat stretch;

}

#slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#slider-container  .arrow {
	font-size: 3em;
	color: #333;
	cursor: pointer;
	user-select: none;
	line-height: 1; 
	margin: 0 5px;
}

.Advansia-Docs .slider-bar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px; /* Add this property to increase the slider-bar height */
}

#slider-container .left-arrow {
	margin-right: 10px;
}

#slider-container.right-arrow {
	margin-left: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
 }
 
 .modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
 }

 .modal-title {
	text-align: center;
	font-size: 24px; /* Adjust this value according to your preference */
 }
 
 .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
 }

 /* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
	width: 12px;
 }
 
 ::-webkit-scrollbar-track {
	background-color: #f5f5f5;
 }
 
 ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
	border: 3px solid #f5f5f5;
 }
 
 ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
 }
 
 /* For Firefox */
 html {
	scrollbar-width: thin;
	scrollbar-color: #888 #f5f5f5;
 }
 

/* For iphone 14 pro max screen size */
 @media screen and (max-width: 1284px) and (min-width: 1125px) {
	#canvas {
		 width: 100vw;
		 height:100vh; /* Change this to 100vh to better fit the screen */
	}

	.Advansia-Docs {
		 width: 100vw;
		 height: 100vh; /* Change this to 100vh to better fit the screen */
	}

	.Advansia-Docs .page {
		 width: 25%; /* Change this from the fixed width to a percentage value */
	}

	.footer {
		 padding: 10px; /* Reduce the padding on mobile devices */
		 font-size: 12px; /* Reduce the font size on mobile devices */
	}


	.info-button {
		font-size: 5px; /* Adjust the font size for mobile */
		padding: 6px 10px; /* Adjust the button padding for mobile */
  }	
  .slider, .arrow-left, .arrow-right {
	display: none;
}
}

/* For iphone X screen size */
@media screen and (max-width: 1125px) and (min-width: 828px) {
	#canvas {
		 width: 100vw;
		 height: 100vh; /* Change this to 100vh to better fit the screen */
	}

	.Advansia-Docs {
		 width: 100vw;
		 height: 90vh; /* Change this to 100vh to better fit the screen */
	}

	.Advansia-Docs .page {
		 width:50%; /* Change this from the fixed width to a percentage value */
	}

	.footer {
		 padding: 10px; /* Reduce the padding on mobile devices */
		 font-size: 12px; /* Reduce the font size on mobile devices */
	}


	.info-button {
		font-size: 5px; /* Adjust the font size for mobile */
		padding: 6px 10px; /* Adjust the button padding for mobile */
  }	
  .slider, .arrow-left, .arrow-right {
	display: none;
}

}

/* For mobile devices */
@media screen and (max-width: 767px) {
	#canvas {
		 width: 100vw;
		 height: 100vh;
	}

	.Advansia-Docs {
		 width: 100vw;
		 height: 100vh;
	}

	.Advansia-Docs .page {
		 width: 90%; /* Adjust the width to 100% for mobile devices */
	}

	.footer {
		 padding: 10px;
		 font-size: 12px;
	}

	.info-button {
		font-size: 5px;
		padding: 5px 5px;
  }

  .slider, .arrow-left, .arrow-right {
	display: none;
}


}
